<%= form_for @shift, :html => { :class => "form-horizontal shift" } do |f| %>

  <% if @shift.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.time_field :start_time, :class => 'form-control',
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss' %>
    </div>
    <%=f.error_span(:start_time) %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.time_field :end_time, :class => 'form-control',
      value: "%H:%M",
      min: 'hh:mm:ss',
      max: 'hh:mm:ss' %>
    </div>
    <%=f.error_span(:end_time) %>
  </div>
  <div class="form-group">
    <%= f.label :restaurant_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, {prompt: "Select a restaurant"}, {class: "form-control"} %>
    </div>
    <%=f.error_span(:restaurant_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shifts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
