<%= form_for @rtable, :html => { :class => "form-horizontal rtable" } do |f| %>

  <% if @rtable.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@rtable.errors.count, "error") %> prohibited this rtable from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @rtable.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :min_guest, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :min_guest, :class => 'form-control' %>
    </div>
    <%=f.error_span(:min_guest) %>
  </div>
  <div class="form-group">
    <%= f.label :max_guest, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :max_guest, :class => 'form-control' %>
    </div>
    <%=f.error_span(:max_guest) %>
  </div>
  <div class="form-group">
    <%= f.label :restaurant_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      
<%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, {prompt: "Select a restaurant"}, {class: "form-control"} %>
    </div>
    <%=f.error_span(:restaurant_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rtables_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
